/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

html{
    font-family: "Poppins" , system-ui;
}

/* LAYOUT */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


h2{
    font-size: 50px;
    padding: 20px 0px;
}

h3{
    font-size: 30px;
}

p{
    padding: 20px 0px;
    font-size: 25px;
}


/* HEADER FEATURES */

.main-header {
    background-color: rgb(36, 99, 214);
    padding: 20px;
    color: #ffffff;
    font-size: 20px;
}

header .button{
    color: #000000;
}

header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.nav-menu {
    display: flex;
    gap: 50px;
    align-items: center;
    
}

/* HERO */

.hero{
    text-align: center;
    color: #ffffff;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero .bg-white{
    color: #000000;
}

.hero .button,
.cta .button{
    padding: 10px 15px;
    font-size: 28px;
    margin:  0px 10px;
}


/* MAIN FEATURES*/




main{
    margin-bottom: 1px;
}

.section {
    padding: 100px 0;
}

.col-100 {
    width: 100%;
}

.col-66 {
    width: calc((100% / 3) * 2);
}

.col-33 {
    width: calc(100% / 3);
}

.col-16 {
    width: calc(100% / 6);
}

.col-60 {
    width: 60%;
}

.col-40{
    width: 40%;
}

.star{
    background-image: url(../img/stars.svg);
    background-size: contain ;
    background-repeat: no-repeat;
    padding: 30px 20px;
    width: 70%;
    margin: auto;
}

 .cta .bg-lblue{
    color: #ffffff;
}




/* FOOTER FEATURES */


.main-footer{
    padding-bottom: 10px;
}

.page-footer{
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    border-top: 1px solid rgb(114, 148, 212);
    padding: 15px 0px;
}

footer{
    background-color: rgb(20, 20, 41);
    padding-top: 20px;
    color: #ffffff;
    font-size: 12px;
}


footer figure img{
    width: 50px;
}

.flag{
    width: 20px;
}

.language{
    line-height: 30px;
    text-align: middle;
    padding: 10px 0;
}

footer h3,
footer h4{
    color: rgb(114, 148, 212);
    padding: 10px 0;
}

footer li{
    padding: 5px 0px;
}

.down-arrow{
    font-size: 32px;
    font-weight: bold;
}

.social-media{
    font-size: 25px;
}

.social-media:not(:last-child) a{
    padding-right: 20px;
}

.fa {
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/* UTILITY */

.bg_y {
    background-color: orange;
}

.bg_pink{
    background-color: pink;
    padding: 10px;
}

.bg-white{
    background-color: #ffffff;
}

.bg-black{
    background-color: #000000;
}

.bg-lgray{
    background-color: rgb(223, 223, 226);
}

.bg-lblue{
    background-color: rgb(104, 155, 231);
}

.button{
    border-radius: 999px;
    padding: 8px 15px;
}

.align-center{
    text-align: center;
}

.inline-block{
    display:inline-block ;
}


/* DEBUG */


